* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: red; */
  height: 100%;
}

main {
  height: 88.6vh;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

:root {
  --main-font: "Montserrat", sans-serif;
  --primary-font-color: #828282;
  --secondary-font-color: #333333;
  --btn-bg-color: #f2994a;
  --test-color-1: red;
  --test-color-2: blue;
  --test-color-3: yellow;
}

h1 {
  font-family: var(--main-font);
}

input,
select {
  padding: 1rem 1rem 1rem 3rem;
  border-radius: 12px;
  border: 1px solid var(--primary-font-color);
  width: 431px;
  height: 56px;
  font-family: var(--main-font);
  font-weight: 600;
  color: var(--primary-font-color);
  font-size: 1rem;
  margin-bottom: 10px;
}
.header-title {
  padding: 36px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-title h1 {
  width: 61%;
  font-size: 2rem;
  font-weight: 600;
  color: #4e5150;
}

.title {
  width: 100%;
}

.title h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  font-style: normal;
  color: #333333;
  line-height: 22px;
  padding: 20px 0;
}

.contact-form-container,
.shipping-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form,
.shipping-form {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

/* .shipping-form-container { */
/* background-color: yellow; */
/* } */

.shipping-form-dual {
  display: flex;
  flex-direction: column;
}

.shipping-form-dual input,
select {
  width: 207px;
  height: 60px;
}

.shipping-form-dual-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

label {
  font-weight: 600;
  font-size: 12px;
  font-family: var(--main-font);
  color: var(--secondary-font-color);
}

.content {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  flex-wrap: wrap-reverse;
  padding-inline: 250px;

  /* background-color: red; */
}

.card-container {
  display: flex;
  align-items: center;
  /* background-color: yellow; */
}

.card-design {
  width: 383px;
  height: 580px;
  border-radius: 12px;
  background-color: #f2f2f2;
}

.checkbox-input {
  display: flex;
  justify-content: flex-start;
}

.checkbox-input input {
  width: unset;
  height: unset;
}

.checkbox-input p {
  margin-left: 10px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #4f4f4f;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.btn {
  padding: 17px 45px;
  background-color: #f2994a;
  border-radius: 12px;
  border: #f2994a;
  color: #ffffff;
  font-family: var(--main-font);
  font-weight: 600;
}

.btn:hover {
  cursor: pointer;
  background-color: #e88731;
}

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transform: translateY(93px);
}

footer p {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #bdbdbd;
  /* identical to box height */
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
.shipping-form-dual label {
  margin-left: 1px;
}

.card-image {
  width: 175px;
  height: 155px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 40px;
}

.card-image img {
  border-radius: 12px;
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 900px) {
  .card-container {
    margin-top: 0;
  }

  main {
    height: 102vh;
  }
}

@media (max-width: 1366px),
  (max-width: 1440px),
  (max-width: 1600px),
  (min-width: 900px) {
  .content {
    padding-inline: unset;
  }
}
