* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: red; */
  height: 100%;
}

main {
  height: 88.6vh;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

:root {
  --main-font: "Montserrat", sans-serif;
  --primary-font-color: #828282;
  --secondary-font-color: #333333;
  --btn-bg-color: #f2994a;
  --test-color-1: red;
  --test-color-2: blue;
  --test-color-3: yellow;
}

h1 {
  font-family: var(--main-font);
}

input,
select {
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 12px;
  border: 1px solid var(--primary-font-color);
  width: 431px;
  height: 56px;
  font-family: var(--main-font);
  font-weight: 600;
  color: var(--primary-font-color);
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.name {
  color: black;
}

.fa {
  font-weight: 600 !important;
}
.header-title {
  padding: 36px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-title h1 {
  width: 55%;
  font-size: 2rem;
  font-weight: 600;
  color: #4e5150;
}

.title {
  width: 100%;
}

.title h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  font-style: normal;
  color: #333333;
  line-height: 22px;
  padding: 20px 0;
}

.contact-form-container,
.shipping-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form,
.shipping-form {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

/* .shipping-form-container { */
/* background-color: yellow; */
/* } */

.shipping-form-dual {
  display: flex;
  flex-direction: column;
}

.shipping-form-dual input,
select {
  width: 207px;
  height: 60px;
}

.shipping-form-dual-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

label {
  font-weight: 600;
  font-size: 12px;
  font-family: var(--main-font);
  color: var(--secondary-font-color);
}

.content {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  flex-wrap: wrap-reverse;
  padding-inline: 250px;

  /* background-color: red; */
}

.card-container {
  display: flex;
  align-items: center;
  /* background-color: yellow; */
}

.card-design {
  width: 383px;
  height: 580px;
  border-radius: 12px;
  background-color: #f2f2f2;
}

.checkbox-input {
  display: flex;
  justify-content: flex-start;
}

.checkbox-input input {
  width: unset;
  height: unset;
}

.checkbox-input p {
  margin-left: 10px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #4f4f4f;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.btn {
  padding: 17px 45px;
  background-color: #f2994a;
  border-radius: 12px;
  border: #f2994a;
  color: #ffffff;
  font-family: var(--main-font);
  font-weight: 600;
}

.btn:hover {
  cursor: pointer;
  background-color: #e88731;
}

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transform: translateY(93px);
}

footer p {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #bdbdbd;
  /* identical to box height */
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
.shipping-form-dual label {
  margin-left: 1px;
}

.card-image {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin-left: 20px;
  margin-top: 40px;
  /* background-color: red; */
}

.card-image img {
  border-radius: 12px;
  max-width: 90%;
  max-height: 90%;
}

.prices {
  display: flex;
  justify-content: space-between;
  width: 100px;
  font-family: var(--main-font);
  font-weight: 600;
  margin-top: 20px;
}

.prices p:nth-child(1) {
  color: #e88731;
  font-size: 1rem;
}

.prices p:nth-child(2) {
  text-decoration: line-through;
  margin-left: 15px;
  font-size: 0.75rem;
  color: #4e5150;
}

h3 {
  font-size: 1rem;
  font-family: var(--main-font);
  color: #333333;
  text-transform: capitalize;
  font-weight: 600;
}

.shipping-price {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
  font-family: var(--main-font);
  font-size: 1.125rem;
  font-weight: 600;
  color: #333333;
}

.counter {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  width: 135px;
  height: 52px;
  border: 1px solid #828282;
  border-radius: 12px;
  margin-top: 45px;
}

.counter > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-family: var(--main-font);
  background-color: #e0e0e0;
  width: 21.2px;
  height: 21.2px;
  font-size: 1rem;
  font-weight: 700;
  color: #828282;
}

.counter p {
  font-weight: 600;
  font-family: var(--main-font);
  font-size: 1rem;
  color: var(--secondary-font-color);
}

hr {
  transform: translateX(20px);
  color: gainsboro;
  width: 90%;
}

@media (max-width: 900px) {
  .card-container {
    margin-top: 0;
  }

  main {
    height: 102vh;
  }
}

@media (max-width: 1366px),
  (max-width: 1440px),
  (max-width: 1600px),
  (max-width: 900px) {
  .content {
    padding-inline: unset;
  }
}

@media (max-width: 360px) {
  .card-container {
    display: flex !important;
    justify-content: center !important;
  }
  .card-design {
    justify-content: center !important;
    width: 90% !important;
  }

  input,
  select {
    padding: 1rem 1rem 1rem 1rem;
    width: 330px !important;
    height: 50px !important;
  }

  h1 {
    transform: translateX(40px);
  }

  .checkbox-input,
  .button {
    transform: translateX(-35px);
  }

  .checkbox-input p {
    background-color: yellow;
    width: 100%;
  }

  .checkbox-input input {
    width: 20px;
    height: 20px !important;
  }

  .shipping-form-dual input,
  select {
    width: 159px !important;
    height: 50px;
  }

  hr {
    margin-top: 20px;
  }

  h3 {
    font-size: 0.775;
  }
}

@media (max-width: 414px) {
  .card-container {
    display: flex;
    justify-content: center;
  }
  .card-design {
    justify-content: center;
    width: 90%;
  }

  hr {
    margin-top: 20px;
  }

  h3 {
    font-size: 0.775;
  }

  input,
  select {
    padding: 1rem 1rem 1rem 1rem;
    width: 370px;
    height: 50px;
  }

  .shipping-form-dual input,
  select {
    width: 177px;
    height: 50px;
  }

  .checkbox-input {
    margin-top: 20px;
  }

  .checkbox-input p {
    margin-top: 9px;
  }

  .btn {
    transform: translateY(20px);
  }

  .header-title h1 {
    margin-right: 200px;
  }

  h1 {
    font-family: var(--main-font) !important;
  }
}
